* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
.App-link {
  color: #042E9F;
}
h1 {
  margin-top: 10rem;
  text-align: center;
}
.top-page {
  padding-top: 10rem;
  text-align: center;
  padding-bottom: 2rem;
}
.navbar {
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  min-height: 75px;
  background: #1e5dfa;
  background: linear-gradient(271deg,#1e5dfa 0%, #042e9f 80%);
  background: -webkit-linear-gradient(271deg,#1e5dfa 0%, #042e9f 80%);
  background: -moz-linear-gradient(271deg,#1e5dfa 0%, #042e9f 80%);
  transition: top 0.5s;
  z-index: 4;
}
.navbar_links {
  display: flex;
  margin-top: 1rem;
}
.navbar_link {
  text-decoration: none;
  color: rgb(207, 207, 207);
  padding: 0 0.6rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.navbar_link.active {
  color: #B51903;
}
.navbar_link:hover {
  color: #B51903;
}
.navbar_item {
  list-style: none;
}
.navbar_logo {
  display: flex;
  align-items: center;
  width: 20%;
}
.logo {
  height: 3rem;
}
.app-name {
  color: #D31E03;
  font-size: 1.4rem;
  font-weight: 700;
  text-shadow: 1px 1px #FCC624;
}
.navbar_burger {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: inherit;
}
.fa-solid {
  font-size: 1.3rem;
}
.top-page {
  padding-top: 10rem;
  text-align: center;
  padding-bottom: 2rem;
}
.vid {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
video {
  border-radius: 1rem;
}
.sponsors {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.sponsor {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.sponsor > a > img {
  width: 250px;
  border-radius: 50%;
  border: 2px solid #FCC624;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.sponsor > a > img.smalls {
  height: 250px;
  object-fit: contain;
}
.sponsor h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.map {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

}
.map iframe {
  max-width: 600;
}

/*---------------------gal-----------------------*/
.carousel.slide {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.graf {
  display: flex;
  justify-content: center;
}
.graf > img{
  width: 100%;
  max-width: 1100px;
  border-radius: 1.4rem;
}
.pic-solo {
  display: flex;
  justify-content: flex-start;
  background-color: #B51903;
}
.pic-solo > img {
  width: 100%;
  max-width: 1000px;
}
.pic-solo.u9{
  max-height: 500px;
  object-fit: cover;
  max-width: 350px;
  margin: 0 auto;
}
.carousel-indicators button {
  height: 0.8rem !important;
  border-radius: 1rem;
}
/*----------------page evenements---------------------*/
.events {
  padding: 2rem;
  background-color: #d31e03;
  color: aliceblue;
  margin: 10vw;
  border-radius: 1rem;
}
.event {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.event img {
  width: 350px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
}
.portrait-pics {
  height: 450px;
  object-fit: cover;
}
.event-btn {
  display: flex;
  justify-content: center;
}
.event-btn button {
  background: #1e5dfa;
  background: linear-gradient(271deg,#1e5dfa 0%, #042e9f 80%);
  background: -webkit-linear-gradient(271deg,#1e5dfa 0%, #042e9f 80%);
  background: -moz-linear-gradient(271deg,#1e5dfa 0%, #042e9f 80%);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: beige;
  border: 2px solid #FCC624;
}
.event-btn button:hover {
  background: #b51903;
  background: linear-gradient(271deg,#b51903 0%, #d31e03 90%);
  background: -webkit-linear-gradient(271deg,#b51903 0%, #d31e03 90%);
  background: -moz-linear-gradient(271deg,#b51903 0%, #d31e03 90%);
}
.agenda {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

/*------------------SMALL DEVICE---------------------*/
@media screen and (max-width: 650px) {
  .navbar_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    top: -1rem;
    width: 0;
    height: 104vh;
    padding: 2rem;
    visibility: hidden;
    background-color: #042E9F;
    transition: all .5s ease-in-out;
  }
  .show-nav {
    z-index: 10;
  }
  .show-nav .navbar_links {
    width: 100vw;
    visibility: visible;
    right: 0;
  }
  video {
    max-width: 350px;
    z-index: -2;
  }
  .navbar_logo {
    justify-content: center;
    z-index: 10;
  }
  .navbar_link {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
  .navbar_item:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 2px;
    background-color: azure;
  }
  .navbar_item:last-child::after {
    display: none;
  }
  .navbar_link::before {
    height: 1rem;
    color: antiquewhite;
    width: 1rem;
  }
  .navbar_burger {
    position: absolute;
    display: block;
    right: 2rem;
  }
  .navbar_burger:hover {
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: antiquewhite;
    transition: all .6s ease-in-out;
  }
  .burger-bar::before,
  .burger-bar::after {
    content: '';
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
    height: 3px;
  }
  .burger-bar::after {
    transform: translateY(12px);
  }
  .show-nav .burger-bar {
   background: transparent;
  }
  .show-nav .burger-bar::before {
   transform: rotate(-45deg);
  }
  .show-nav .burger-bar::after {
    transform: rotate(45deg);
  }
  .navbar_item {
    transform: translatex(100vh);
  }
  .show-nav .navbar_item {
    transform: translateX(0);
  }
  .show-nav .slideInDown-1 {
    animation: effect 2s ease-in-out;
  }
  .show-nav .slideInDown-2 {
    animation: effect 3s ease-in-out;
  }
  @keyframes effect {
    0% {
      transform: translateX(6rem);
    }
    25% {
      transform: translateX(-4rem);
    }
    50% {
      transform: translateX(4rem);
    }
    75% {
      transform: translateX(-2rem);
    }
    100% {
      transform: translateX(0);
    }
  }
  /*----------event------------*/
  .events {
    margin: 0;
  }
  .event img {
    width: 250px;
  }
  .portrait-pics {
    height: 320px;
    object-fit: cover;
  }
}